<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img #img src="assets/logolarge.png"> &nbsp;
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar"> &nbsp;
        <ul class="navbar-nav ml-auto my-lg-1">
          <li class="nav-item">
            <a class="nav-link" (click)="destroySession()" >Sign Out</a>
          </li>
        </ul>
    </div>
</nav>
<!-- Sidebar -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello, {{candidate?.name}}</div>
      <div class="list-group list-group-flush">
      <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="/admin/joblist" class="list-group-item list-group-item-action bg-light">Job List</a>
      <a href="/admin/invited" class="list-group-item list-group-item-action bg-light">Invited Candidate</a>
      <a href="/admin/approved" class="list-group-item list-group-item-action bg-primary active">Approved Candidate</a>
      </div>
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid" >
      <br><h2 style="text-align:center; margin-bottom:12px;">Approved Candidate</h2><br>
      <div class="table-responsive">
      <table class="table table-hover" style="text-align:center">
          <thead >
            <tr>
              <th scope="col">Application Name</th>
              <th scope="col">Application Category</th>
              <th scope="col">Candidate Name</th>
              <th scope="col">Recruiter Name</th>
              <th scope="col">Status </th>
              <th scope="col" colspan="2" style="text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of jobs | paginate: { itemsPerPage: 7, currentPage: n , id: 'jb'}">
              <td>{{item?.job?.title}}</td>
              <td>{{item?.job?.jobposotion?.jobkategori?.kategori}}</td>
              <td>{{item?.candidate?.name}}</td>
              <td>{{item?.job?.candidate?.name}}</td>
              <td>{{item?.state?.state}}</td>
              <td>
                
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="showDetailCandidate(item.id)">Detail</button> &nbsp;
              </td>
              <td>
                <button type="button" [hidden]="item.state.state ==='Accepted'" class="btn btn-outline-success btn-sm" (click)="confirmCt(item.id)">Sign Contract</button>
              </td>
              <td>
                <button type="button" [hidden]="item.state.state ==='Accepted'" class="btn btn-outline-danger btn-sm" (click)="confirmReject(item.id)">Reject</button> &nbsp;

              </td>
            </tr>
            </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="n = $event" id = "jb"></pagination-controls>

        </div>

  </div>  
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<!-- Detail Candidate -->
<p-dialog header="Detail Candidate" [(visible)]="detailcandidate" [modal]="true" [responsive]="true" 
[style]="{width: '90vw', height: '80vw'}" [draggable]="true" [resizable]="true">

<!-- Body -->
<div class="ui-g">
<!-- Photo -->
<div class="ui-g-4">
  <div class="card">
      <div class=" card-body" style="text-align:center;">
        <img style="width: 170px; height: 225px;" [src]="imgs"  alt="Card image">
      </div>  
  </div>

  <!-- Profile -->
  <div class="card border-light">
    <div class="ui-g card-header">
      <div class="ui-g-6 ui-md-6 ">
        <h5 class="pi pi-user">
          Profile
        </h5>
      </div>
    </div>

      <div class="card-body">
        <p class="card-text">Birth {{datacd?.candidate?.dob}}</p>
        <p class="card-text">Gender {{datacd?.candidate?.gender}}</p>
        <p class="card-text">{{datacd?.candidate?.addres}}, {{user?.candidate?.city?.city}}</p>
      </div>

      <div class="card-footer">
        <p class="card-text">{{datacd?.candidate?.phone}}</p>
        <p class="card-text">{{datacd?.candidate?.email}}</p>
      </div>

  </div>
</div>

<!-- Isi -->
<div class="ui-g-8 ui-g-nopad">
  <!-- Nama Lengkap -->
  <div class="ui-g-12">
    <h1 class="display-3" style="text-align:center;">{{datacd?.candidate?.name}}</h1>
  </div>
  <!-- Kiri -->
  <div class="ui-g-6">
    <!-- Education -->
    <div class="card border-light">
      <div class="ui-g card-header">
        <div class="ui-g-12 ui-md-4 ">
          <h5 class="pi pi-user">
            Education
          </h5>
        </div>
      </div>
      <div  class="card-body">
        <li *ngFor="let item of edu">{{item.name}}, {{item?.gpa}}, {{item?.education.education}}</li>
      </div>
  </div>
  <br>

  <!-- Work Experince -->
  <div class="card border-light">
    <div class="ui-g card-header">
      <div class="ui-g-12 ui-md-6 ">
        <h5 class="pi pi-user">
          Work Experience
        </h5>
      </div>
    </div>

    <div class="card-body">
      <li *ngFor="let item of wexp">{{item?.name}}, {{item?.position}}, {{item?.salary}}</li>
    </div>
  </div>
  <br>
  </div>

  <!-- Kanan -->
  <div class="ui-g-6">
    <!-- Document -->
    <div class="card border-light">
      <div class="ui-g card-header">
        <div class="ui-g-12 ui-md-4 ">
          <h5 class="pi pi-user">
            Document
          </h5>
        </div>
      </div>

      <div>
        <div *ngFor="let item of doc" class="ui-g-12">
        <div class="ui-g-6">{{item?.typename}}</div>
        <div class="ui-g-6">
          <button type="button" (click)=" dowloadDoc(item.id)" class="btn btn-outline-primary btn-sm">Cek</button> &nbsp;

        </div>
          
      </div> 
      </div>
    </div>
    <br>

    <!-- SKill -->
    <div class="card border-light">
      <div class="ui-g card-header">
        <div class="ui-g-12 ui-md-4 ">
          <h5 class="pi pi-user">
          Skill
          </h5>
        </div>
      </div>

      <div class="card-body">
      <li *ngFor="let item of skill">{{item?.skillname}}, {{item?.level?.level}}</li>
      </div>
    </div>
    <br>
  </div>
    
</div>
</div>
</p-dialog>