<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
  <img #img src="assets/logolarge.png"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-1">
      <button  data-target="#SignUp" class="btn btn-outline-primary" (click)="showDialogSignUp()"  role="button">Sign Up</button> &nbsp;&nbsp;&nbsp;
      <button data-target="#SignIn" class="btn btn-outline-primary"(click)="showDialogSignIn()" role="button">Sign In</button>
      </form>
  </div>
</nav>

<!-- Title -->
<div class="jumbotron login-panel" style="padding-top: 20px;">
  <div>
    <div style="text-align: center;">
      <h2 class="display-3"><font color="white"> Hello, You!</font></h2>
      <h2><font color="white">Welcome to Lawencon Jobs Poster</font></h2>
      <h2><font color="white">Your Dream Jobs Start Here !!! </font></h2>  
    </div>
     
  <!-- Body -->

    <!-- Blank Page -->
    <div class="ui-g-12 ui-md-6 ui-lg-2">
    </div>
  
      <!--  -->
      <div class="ui-g-12 ui-md-12 ui-lg-8 ui-g-nopad" style="padding-top: 12px;">
  
        <!-- Job Poster -->
        <div class="ui-g-12 ui-md-12 ui-lg-12">
  
            <!-- Search Job Poster -->
            <ol style="text-align:center;">
              <div class="ui-g">
                <div class="ui-g-1">
                </div>
                <div class="ui-g-4">
                  <input type="text" class="form-control"  placeholder="Search Jobs Poster">
                </div>
                <div class="ui-g-2">
                  <input type="text" class="form-control"placeholder="Salary Min">
                </div>
                <div class="ui-g-2">
                  <input type="text" class="form-control"  placeholder="Salary Max">
                </div>
                <div class="ui-g-2">
                  <button type="button" class="bg-light btn btn-outline-primary ">Search</button>
                </div>
              </div>
            </ol>

            
  
            <p-scrollPanel [style]="{width: '100%', height: '270px'}">
              <!-- Isi Job Poster -->
                <div class="ccard border-light">
                  <div class="card-header"><h5>IT Bootcamp</h5></div>
                  <div class="card-body">
                    <p class="card-title">
                      Perkembangan teknologi yang kian pesat merupakan salah satu tantangan yang harus dihadapi oleh 
                      semua perusahaan  di Indonesia, termasuk Lawencon. Menjawab tantangan ini, Lawencon terus
                      mengedepankan inovasi agar dapat senantiasa menjadi bank yang dapat diandalkan oleh masyarakat.
                      Inovasi yang dilakukan Lawencon selama ini membutuhkan dukungan dari semua pihak terutama
                      bagian IT.</p>
                      <br>
                    <p class="card-text">
                      Open Date : 01-01-2020 &nbsp; Close Date : 02-02-2020
                    </p><br>
                      <div>
                        <button type="button" class="btn btn-outline-info" >Detail</button> &nbsp;
                        <button type="button" class="btn btn-outline-success">Apply</button>
                      </div>
                  </div>
                  <div class="card-footer">  
                  </div>
                </div> <br>
              <!--  -->
                <div class="card border-light">
                  <div class="card-header"><h5>IT Bootcamp</h5></div>
                  <div class="card-body">
                    <p class="card-title">
                      Perkembangan teknologi yang kian pesat merupakan salah satu tantangan yang harus dihadapi oleh 
                      semua perusahaan  di Indonesia, termasuk Lawencon. Menjawab tantangan ini, Lawencon terus
                      mengedepankan inovasi agar dapat senantiasa menjadi bank yang dapat diandalkan oleh masyarakat.
                      Inovasi yang dilakukan Lawencon selama ini membutuhkan dukungan dari semua pihak terutama
                      bagian IT.</p>
                      <br>
                    <p class="card-text">
                      Open Date : 01-01-2020 &nbsp; Close Date : 02-02-2020
                    </p><br>
                    <div>
                      <button type="button" class="btn btn-outline-info">Detail</button> &nbsp;
                      <button type="button" class="btn btn-outline-success">Apply</button>
                    </div>
                  </div>
                  <div class="card-footer">  
                  </div>
                </div> <br>
              <!--  -->
                <div class="card border-light">
                    <div class="card-header"><h5>IT Bootcamp</h5></div>
                    <div class="card-body">
                      <p class="card-title">
                        Perkembangan teknologi yang kian pesat merupakan salah satu tantangan yang harus dihadapi oleh 
                        semua perusahaan  di Indonesia, termasuk Lawencon. Menjawab tantangan ini, Lawencon terus
                        mengedepankan inovasi agar dapat senantiasa menjadi bank yang dapat diandalkan oleh masyarakat.
                        Inovasi yang dilakukan Lawencon selama ini membutuhkan dukungan dari semua pihak terutama
                        bagian IT.</p>
                        <br>
                      <p class="card-text">
                        Open Date : 01-01-2020 &nbsp; Close Date : 02-02-2020
                      </p><br>
                      <div>
                        <button type="button" class="btn btn-outline-info" >Detail</button> &nbsp;
                        <button type="button" class="btn btn-outline-success">Apply</button>
                      </div>
                    </div>
                    <div class="card-footer">  
                    </div>
                </div><br>
              
            </p-scrollPanel>
        </div>
  
      </div>
  
      <!-- Blank Page -->
      <div class="ui-g-12 ui-md-6 ui-lg-2"><br>
      </div>
<br>
  </div>

</div>




<!-- Modal Sign Up -->
<p-dialog id="SignUp" header="Sign Up Lawencon Jobs Poster" [(visible)]="displaysignup" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
[baseZIndex]="10000">
<p-messages [(value)]="msgs"></p-messages>
<br>
<form>
<span class="ui-float-label">
    <input id="float-input1" name="fullname" type="text" size="40" [(ngModel)]="register.name" pInputText> 
    <label for="float-input1">Fullname</label>
</span>

<br>
<span class="ui-float-label">
  <input id="float-input" type="text" name="email" [(ngModel)]="register.email" size="40" pInputText> 
  <label for="float-input">Email</label>
</span>
<br>
<span class="ui-float-label">
  <p>Gender</p>
  <p-radioButton name="groupname" value="Laki-Laki" label=" Male " [(ngModel)]="register.gender"></p-radioButton>
  <p-radioButton name="groupname" value="Perempuan" label=" Female " [(ngModel)]="register.gender"></p-radioButton>
</span>
<br>
<span class="ui-float-label">
  <input id="float-input2" type="text" size="40" pInputText name="phone" [(ngModel)]="register.phone"> 
  <label for="float-input2">Phone Number</label>
</span>

<br>
<span class="ui-float-label">
  <input id="float-inpu2" type="date" size="40" pInputText name="date" [(ngModel)]="register.dob"> 
</span>
<br>
<span class="ui-float-label">
  <input id="float-input2a" type="text" size="40" pInputText name="addres" [(ngModel)]="register.addres"> 
  <label for="float-input2">Address</label>
</span>

<br>
<span class="ui-float-label">
  <p-dropdown placeholder="Select a Province" [options]="province" name="provinsi" [(ngModel)]="provinsi" filter="true" optionLabel ="province" [showClear]="true"> 
</p-dropdown>  
</span>

<br>
<span class="ui-float-label">
  <p-dropdown placeholder="Select a City" [options]="city" name="city" [(ngModel)]="register.city" filter="true" optionLabel ="city" (click)="getCity()">
</p-dropdown>  
</span>
 
<!-- <br>
<span class="ui-float-label">
  <p-autoComplete  id="city" field="city" name="prov"  [(ngModel)]="kota" [suggestions]="citis" (completeMethod)="filterCity($event)"
            [dropdown]="true">
            <ng-template let-brand pTemplate="item">
              <div class="ui-helper-clearfix">
                  <div>{{brand?.city}}</div>  
              </div>
          </ng-template>
  </p-autoComplete> 
</span> -->
<br>

</form>
<!-- <button type="button" routerLink='admin/dashboard' pButton (click)="showSuccess()" label="Submit" class="ui-button-info"></button> -->
<button type="button" (click)="registerApplicant()" pButton  label="Submit" class="ui-button-info"></button>

</p-dialog>

<!-- Modal Sign in -->
<p-dialog id="SignIn" header="Sign In Lawencon Jobs Poster" [(visible)]="displaysignin" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" 
[baseZIndex]="10000">
<br>
<form>
<span class="ui-float-label">
  <input id="float-inpu" name="email" [(ngModel)]="us.username" type="text" size="40" pInputText> 
  <label for="float-inpu">Email</label>
</span>
<br>
<span class="ui-float-label">
  <input name="password"  [(ngModel)]="us.password" id="float-inpu2" type="text" size="40" pInputText pPassword type="password"/> 
  <label for="float-inpu2">Password</label>
</span>
  <p-checkbox name="cek" [(ngModel)]="checked" binary="true"></p-checkbox> &nbsp; Show Password
<br><br>
<button (click)="loginuser()" type="button" pButton label="Submit" class="ui-button-info"></button>
</form>
</p-dialog>