<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-secondary">
    <img #img src="assets/logolarge.png"> 
  </nav>

  <!-- Body -->

    <!-- Blank Page -->
    <div class="ui-g-12 ui-md-6 ui-lg-2"><br>
    </div>
  
      <!--  -->
      <div class="ui-g-12 ui-md-12 ui-lg-8 ui-g-nopad">
  
        <!-- Job Poster -->
        <br>
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <h3 style="text-align:center;">Lawencon Jobs Poster</h3><br>
  
            <!-- Search Job Poster -->
            <ol class="breadcrumb" style="text-align:center;">
              <div class="ui-g">
                <div class="ui-g-1">
                </div>
                <div class="ui-g-4">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search Jobs Poster">
                </div>
                <div class="ui-g-2">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Salary Min">
                </div>
                <div class="ui-g-2">
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Salary Max">
                </div>
                <div class="ui-g-2">
                  <button type="button" class="btn btn-outline-info">Search</button>
                </div>
              </div>
            </ol>
  

            <!-- Isi Job Poster -->
              <div class="card border-light">
                <div class="card-header"><h5>IT Bootcamp</h5></div>
                <div class="card-body">
                  <p class="card-title">
                    Perkembangan teknologi yang kian pesat merupakan salah satu tantangan yang harus dihadapi oleh 
                    semua perusahaan  di Indonesia, termasuk Lawencon. Menjawab tantangan ini, Lawencon terus
                    mengedepankan inovasi agar dapat senantiasa menjadi bank yang dapat diandalkan oleh masyarakat.
                    Inovasi yang dilakukan Lawencon selama ini membutuhkan dukungan dari semua pihak terutama
                    bagian IT.</p>
                    <br>
                  <p class="card-text">
                    Open Date : 01-01-2020 &nbsp; Close Date : 02-02-2020
                  </p><br>
                    <div>
                      <button type="button" class="btn btn-outline-success">Apply</button>
                    </div>
                </div>
                <div class="card-footer">  
                </div>
              </div> <br>
            <!--  -->
              <div class="card border-light">
                <div class="card-header"><h5>IT Bootcamp</h5></div>
                <div class="card-body">
                  <p class="card-title">
                    Perkembangan teknologi yang kian pesat merupakan salah satu tantangan yang harus dihadapi oleh 
                    semua perusahaan  di Indonesia, termasuk Lawencon. Menjawab tantangan ini, Lawencon terus
                    mengedepankan inovasi agar dapat senantiasa menjadi bank yang dapat diandalkan oleh masyarakat.
                    Inovasi yang dilakukan Lawencon selama ini membutuhkan dukungan dari semua pihak terutama
                    bagian IT.</p>
                    <br>
                  <p class="card-text">
                    Open Date : 01-01-2020 &nbsp; Close Date : 02-02-2020
                  </p><br>
                  <div>
                    <button type="button" class="btn btn-outline-success">Apply</button>
                  </div>
                </div>
                <div class="card-footer">  
                </div>
              </div> <br>
            <!--  -->
              <div class="card border-light">
                  <div class="card-header"><h5>IT Bootcamp</h5></div>
                  <div class="card-body">
                    <p class="card-title">
                      Perkembangan teknologi yang kian pesat merupakan salah satu tantangan yang harus dihadapi oleh 
                      semua perusahaan  di Indonesia, termasuk Lawencon. Menjawab tantangan ini, Lawencon terus
                      mengedepankan inovasi agar dapat senantiasa menjadi bank yang dapat diandalkan oleh masyarakat.
                      Inovasi yang dilakukan Lawencon selama ini membutuhkan dukungan dari semua pihak terutama
                      bagian IT.</p>
                      <br>
                    <p class="card-text">
                      Open Date : 01-01-2020 &nbsp; Close Date : 02-02-2020
                    </p><br>
                    <div>
                      <button type="button" class="btn btn-outline-success">Apply</button>
                    </div>
                  </div>
                  <div class="card-footer">  
                  </div>
              </div><br>
        </div>
  
      </div>
  
      <!-- Blank Page -->
      <div class="ui-g-12 ui-md-6 ui-lg-2"><br>
      </div>
