<p-dialog header="Title" [(visible)]="cek">
  {{ta}}
</p-dialog>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img #img src="assets/logolarge.png"> &nbsp;
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar"> &nbsp;
        <ul class="navbar-nav mr-auto my-lg-1">
            <li class="nav-item ">
                <a class="nav-link" href="candidate/dashboard">Dashboard </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="candidate/profile">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showSetting()">Setting</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto my-lg-1">
            <li class="nav-item">
                <a class="nav-link" (click)="destroySession()">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>
<div style="align-items: center;text-align: center;" [hidden] ="cds.id!=null">
  <p-progressSpinner ></p-progressSpinner>   
  <p>Please Wait...</p>   
</div>
<!-- Body -->
<div class="ui-g" [hidden]="cds.id == null">
  <div class="ui-g-2 ui-md-12 ui-lg-2">
  </div>

  <!--  -->
  <div class="ui-g-8 ui-g-nopad">
      <br>

      <!--  -->
      <div class="ui-g-12 ui-md-12 ui-lg-4">

        <!-- Photo -->
        <div class="card" >
            <div class=" card-body" style="text-align:center;">
              <img style="width: 170px; height: 240px;" [src]="imageData"  alt="Card image">
            </div>
          

            <div class="card-footer">
              <p-accordion>
                <p-accordionTab header="Upload Photo">
                  <div class="form-group">
                    <div *ngIf="fileUploadProgress">
                      <p-progressBar [value]="fileUploadProgress"></p-progressBar>
                  </div>
                      <label>Upload Photo</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" [(ngModel)]="imgss" name="foto" (change) ="onfileSelected($event)" id="inputGroupFile02" aria-describedby="fileHelp">  
                        <label class="custom-file-label" for="inputGroupFile02">{{imgs}}</label>
                    </div>
                      <br><br>
                    <div style="text-align: center;">
                      <button type="button" class="btn btn-outline-secondary" (click)="uploadPhoto()">Upload</button>
                    </div>
                  </div>
                </p-accordionTab>
            </p-accordion>

              <div class="ui-g">
            </div>              
            </div>  
        </div>
        <br>

        <!-- Profile -->
        <div class="card border-light">
          <div class="ui-g card-header">
            <div class="ui-g-6 ui-md-6 ">
              <h5 class="pi pi-user">
                Profile
              </h5>
            </div>
            <div class="ui-g-2 ui-md-2 ui-md-offset-2">
              <button type="button" class="btn btn-outline-warning btn-sm" (click)="showProfile()">Update</button>
            </div>
          </div>

            <div class="card-body">
              <p>Birth {{user?.candidate?.dob | date:'yyyy-MMMM-dd'}}</p>
              <p>Gender {{user?.candidate?.gender}}</p>
              <p>{{user?.candidate?.addres}}</p>
              <p>{{user?.candidate?.city?.city}}</p>
              <p>{{user?.candidate?.city?.province?.province}}</p>
            </div>

            <div class="card-footer">
              <p class="card-text">{{user?.candidate?.phone}}</p>
              <p class="card-text">{{user?.candidate?.email}}</p>
            </div>

        </div>

      </div>

      <!-- Name User -->
      <div class="ui-g-12 ui-md-12 ui-lg-8">
          <br>
          <h1 class="display-3" style="text-align:center;">{{user?.candidate?.name}}</h1>
          <br>

          <!-- Education -->
          <div class="card border-light">
              <div class="ui-g card-header">
                <div class="ui-g-12 ui-md-4 ">
                  <h5 class="pi pi-user">
                    Education
                  </h5>
                </div>
                <div class="ui-g-12 ui-md-2 ui-md-offset-6">
                  <button type="button" class="btn btn-outline-info btn-sm" (click)="showEducation()">Add Education</button>
                </div>
              </div>
              <div class="table-responsive">
              <table class="table table-hover">
                  <tr *ngFor="let item of candEdu">
                    <td>{{item?.name}}</td>
                    <td>{{item?.education?.education}}</td>
                    <td>{{item?.gpa}}</td>
                    <td>{{item?.mulai | date:'yyyy-MMMM-dd'}}</td>
                    <td>{{item?.berakhir | date:'yyyy-MMMM-dd'}}</td>
                    <td>
                      <a type="button" class="btn btn-outline-warning btn-sm" (click) ="getid(item.id)" >Update</a> &nbsp;
                      <button type="button" class="btn btn-outline-danger btn-sm" (click) ="delete(item.id)">Delete</button>
                    </td>
                  </tr>
              </table>
            </div>
          </div>
          <br>

          <!-- Work Experince -->
          <div class="card border-light">
            <div class="ui-g card-header">
              <div class="ui-g-12 ui-md-5 ">
                <h5 class="pi pi-user">
                  Work Experience
                </h5>
              </div>
              <div class="ui-g-12 ui-md-2 ui-md-offset-5">
                <button type="button" class="btn btn-outline-info btn-sm" (click)="showWork()">Add Work Experience</button>
              </div>
            </div>
            <div class="table-responsive">
            <table class="table table-hover">
              <tr *ngFor="let item of works">
                <th scope="row">{{item?.name}}</th>
                <td>{{item?.position}}</td>
                <td>{{item?.salary | currency:'Rp. '}}</td>
                <td>{{item?.mulai | date:'yyyy-MMMM-dd'}}</td>
                <td>{{item?.berakhir | date:'yyyy-MMMM-dd'}}</td>
                <td>
                  <button type="button" class="btn btn-outline-warning btn-sm"  (click)="getCdId(item.id)">Update</button> &nbsp;
                  <button type="button" class="btn btn-outline-danger btn-sm" (click)="deletework(item.id)">Delete</button>
                </td>
              </tr>
          </table>
          </div>
          </div>
          <br>

          <!-- Document -->
          <div class="card border-light">
            <div class="ui-g card-header">
              <div class="ui-g-12 ui-md-4 ">
                <h5 class="pi pi-user">
                  Document
                </h5>
              </div>
            </div>
            <div class="ui-g card-body">
              <p style="color: red;">Required Document</p>
              <div class="table-responsive">
              <table class="table table-hover">
                <tr *ngFor="let item of req">
                  <td>{{item?.typename}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" (click)="showUpdateDocument(item.id)">Cek</button> &nbsp;
                  </td>
                </tr>
            </table>
            </div>
            </div>
            <div class="ui-g card-body">
            </div>
          </div>
          <br>

          <!-- SKill -->
          <div class="card border-light">
            <div class="ui-g card-header">
              <div class="ui-g-12 ui-md-4 ">
                <h5 class="pi pi-user">
                Skill
                </h5>
              </div>
            <div class="ui-g-12 ui-md-2 ui-md-offset-6">
              <button type="button" class="btn btn-outline-info btn-sm" (click)="showSkill()">Add Skill</button>
            </div>
            </div>

            <div class="card-body">
              <div class="card-body">
                <div class="table-responsive">
              <table class="table table-hover">
                <tr *ngFor="let item of skillcd">
                  <th scope="row">{{item?.skillname}}</th>
                  <td>{{item?.level?.level}}</td>
                  <td>
                    <button type="button" class="btn btn-outline-warning btn-sm"  (click)="getSkillbyid(item.id)">Update</button> &nbsp;
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteSkill(item.id)">Delete</button>
                  </td>
                </tr>
            </table>
            </div>
            </div>
            </div>
          </div>
          <br>

      </div>

      <!--  -->
      <div class="ui-g-12">
      </div>

  </div>
  <!--  -->

  <div class="ui-g-2">
  </div>

</div>

<!-- Show Dialog -->
<!-- Password -->
<p-dialog header="Change Password" [(visible)]="settings" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <div class="form-group">
    <label>Old Password </label>
    <input type="password" name="old" [(ngModel)]="password.old" class="form-control"  placeholder="Old Password">
  </div>
  <div class="form-group">
    <label>New Password </label>
    <input type="password" pPassword name="new1" [(ngModel)]="password.newPas1" class="form-control"  placeholder="New Password">
  </div>
  <div class="form-group">
    <label>Confrim New Password </label>
    <input type="password" pPassword name="new2" [(ngModel)]="password.newPas2" class="form-control"  placeholder="Confrm New Password">
  </div>
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="resetPassword()" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>

<!-- Profile -->
<p-dialog header="Profile" [(visible)]="profile" [modal]="true" [responsive]="true" [style]="{width: '900px', minWidth: '200px'}" [minY]="70">
  <div class="ui-g">
    <p-toast [style]="{marginTop: '80px'}"  key="tc"></p-toast>
    <div class="ui-g-6">
      <div class="form-group">
        <label>Salary Expected </label>
        <input type="text" class="form-control" name="name" [(ngModel)]="cds.salary" placeholder="Salary Expected">
      </div>
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="cds.name" placeholder="Full Name">
          </div>
          <div class="form-group">
            <p-radioButton name="groupname" value="Laki-Laki" label=" Male " [(ngModel)]="cds.gender"></p-radioButton>
            <p-radioButton name="groupname" value="Perempuan" label=" Female " [(ngModel)]="cds.gender"></p-radioButton>
          
          </div>

          <br>
          <span class="ui-float-label">
            <p-dropdown [placeholder]="ps" [options]="province" name="provinsi" [filter]="true" [(ngModel)]="provinsi" (click)="proNull()" optionLabel ="province" [showClear]="true"> 
          </p-dropdown>  
          </span>
              <br>
          <span class="ui-float-label">
            <p-dropdown [placeholder]="cs" [filter]="true" [options]="city" name="ashkah" [(ngModel)]="cds.city" (click)="getCity()" optionLabel ="city" [showClear]="true">
          </p-dropdown>  
          </span>

          <div class="form-group">
            <label for="exampleTextarea">Address</label>
            <textarea name="addres" [(ngModel)]="cds.addres" class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          
    </div>
    <!--  -->
    <div class="ui-g-6">

        <div class="form-group">
            <label>Email</label>
            <input disabled type="text" name="email" [(ngModel)]="cds.email" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <br>
          <input type="text"  class="form-control" name="phoner" [(ngModel)]="cds.phone"  placeholder="Telephone">
      </div>
          <div class="form-group">
            <label>Date of Birth</label>
            <input name="dob" [(ngModel)]="cds.dob" type="date" class="form-control">
          </div>
    </div>
</div>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="update()"  label="Submit"></button>
        <button type="reset" pButton icon="pi pi-close" (click)="display=false" label="Reset" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<!-- Education -->
<p-dialog header="Education" [(visible)]="education" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}" [minY]="70">
  <div class="ui-g-12">
  
    <div class="form-group">
      <label>Education</label>
      <input type="email" class="form-control" name="ed.education" [(ngModel)]="ed.name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of University">
    </div>

    <div class="form-group">
      <p-dropdown [options]="educations" optionLabel="education" name="edlevel" [(ngModel)]="ed.education" placeholder ="Education Level"></p-dropdown>
    </div>
  
    <div class="form-group">
      <label for="exampleInputEmail1">GPA</label>
      <input type="email" class="form-control" name="edgpas" [(ngModel)]="ed.gpa" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="GPA">
      <small id="emailHelp" class="form-text text-muted">Scale of 4.00</small>
    </div>
  
    <div class="ui-g-6">
      <div class="form-group">
        <label>Begin Education</label>
        <input type="date" name="edstart" [(ngModel)]="ed.mulai" class="form-control">
      </div>
    </div>
    <div class="ui-g-6">
      <div class="form-group">
        <label>End Education</label>
        <input type="date" name="edend" [(ngModel)]="ed.berakhir" class="form-control">
      </div>
    </div>
  </div >
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="addEdu()" label="Submit"></button>
          <button type="reset" pButton icon="pi pi-close" (click)="display=false" label="Reset" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>

<!-- Update Education -->
<p-dialog header="Update Education" [(visible)]="updateeducation" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}" [minY]="70">
  <div class="ui-g-12">
  
    <div class="form-group">
      <label>Education</label>
      <input type="email" name="eds" [(ngModel)]="eduid.name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of University">
    </div>

    <div class="form-group">
      <p>Education Level</p>
      <p-dropdown [options]="educations" name="level" [(ngModel)]="eduid.education" optionLabel="education" placeholder ="Education Level"></p-dropdown>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">GPA</label>
      <input type="text" name="gpa" [(ngModel)]="eduid.gpa"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="GPA">
    </div>
  
    <div class="ui-g-6">
      <div class="form-group">
        <label>Begin Education</label>
        <input type="date" name="begin" [(ngModel)]="eduid.mulai" class="form-control">
      </div>
    </div>
    <div class="ui-g-6">
      <div class="form-group">
        <label>End Education</label>
        <input type="date" [(ngModel)]="eduid.berakhir" class="form-control">
      </div>
    </div>
  </div >
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="editedu(eduid.id)" label="Submit"></button>
          <button type="reset" pButton icon="pi pi-close" (click)="display=false" label="Reset" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>
  
<!-- Work Experience -->
<p-dialog header="Work Experience" [(visible)]="work" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}" [minY]="70">
<div class="ui-g-12">

  <div class="form-group">
    <label for="exampleInputEmail1">Work Experiance</label>
    <input type="text" name="companys" [(ngModel)]="wn.name" class="form-control" placeholder="Company Name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Positions</label>
    <input type="text" name="positions" [(ngModel)]="wn.position" class="form-control" placeholder="Positions">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Salary</label>
    <input type="text" name="salarys" [(ngModel)]="wn.salary" class="form-control"  placeholder="Salary">
  </div>

  <div class="ui-g-6">
    <div class="form-group">
      <label>Begin Work</label>
      <input type="date" name="ends" [(ngModel)]="wn.mulai" class="form-control">
    </div>
  </div>
  <div class="ui-g-6">
    <div class="form-group">
      <label>End Work</label>
      <input type="date" name="sts" [(ngModel)]="wn.berakhir" class="form-control">
    </div>
  </div>
</div >
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="addwork()" label="Submit"></button>
        <button type="reset" pButton icon="pi pi-close" (click)="display=false" label="Reset" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<!-- Update Work Experience -->
<p-dialog header=" Update Work Experience" [(visible)]="updatework" [modal]="true" [responsive]="true" [style]="{width: '500px', minWidth: '200px'}" [minY]="70">
  <p-toast [style]="{marginTop: '80px'}"  key="tc"></p-toast>
  <div class="ui-g-12">
    <div class="form-group">
      <label for="exampleInputEmail1">Work Experiance</label>
      <input type="email" name="we" [(ngModel)]="workcd.name" class="form-control" placeholder="Company Name">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Positions</label>
      <input type="text" name="positionsss" [(ngModel)]="workcd.position" class="form-control" placeholder="Positions">
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Salary</label>
      <input type="email" name="salary" [(ngModel)]="workcd.salary" class="form-control"  placeholder="Salary">
    </div>
  
    <div class="ui-g-6">
      <div class="form-group">
        <label>Begin Work</label>
        <input type="date" name="begin" [(ngModel)]="workcd.mulai" class="form-control">
      </div>
    </div>
    <div class="ui-g-6">
      <div class="form-group">
        <label>End Work</label>
        <input type="date" name="end" [(ngModel)]="workcd.berakhir" class="form-control">
      </div>
    </div>
  </div >
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="putwork(workcd.id)" label="Submit"></button>
          <button type="reset" pButton icon="pi pi-close" (click)="display=false" label="Reset" class="ui-button-secondary"></button>
      </p-footer>
  </p-dialog>

<!-- Document -->
<p-dialog header="Document" [(visible)]="document" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <div class="form-group">
    <label for="exampleSelect2">Type Document</label>
    <select class="form-control" id="exampleSelect1">
      <option>KTP</option>
      <option>SIM</option>
      <option>Ijazah</option>
      <option>Kartu Keluarga</option>
    </select>
  </div>
  <div class="form-group">

      <label>Upload Document</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input"  name="doc" id="inputGroupFile02" aria-describedby="fileHelp">  
        <label class="custom-file-label" for="inputGroupFile02">{{imgs}}</label>
    </div>
  </div>
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>

<!-- Update Document -->

<p-dialog header="Update Document" [(visible)]="updatedocument" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <div style="align-items: center;text-align: center;" [hidden] ="cddoc.pic!=null || cddoc.id != null">
    <p-progressSpinner ></p-progressSpinner>   
    <p>Please Wait...</p>   
  </div>  
  <div *ngIf="fileUploadProgress">
    <p-progressBar [value]="fileUploadProgress"></p-progressBar>
</div>
  <div class="form-group">
    <input type="text"  [hidden]="cddoc.id == null" class="form-control" disabled [(ngModel)]="req1.typename" id="exampleSelect1">
  </div>

  <input type="text"  [hidden]="cddoc.id == null"  placeholder="Documnent not uploaded yet" disabled class="form-control" name="do" [(ngModel)]="cddoc.filename">

 
<label [hidden]="cddoc.id == null">Upload Document</label>
<div [hidden]="cddoc.id == null" class="custom-file">
  <input type="file"  class="custom-file-input" [(ngModel)]="pxd" name="lalala" (change) ="onfileSelected1($event)" id="inputGroupFile01" aria-describedby="fileHelp">  
  <label class="custom-file-label" for="inputGroupFile01">{{docs}}</label>
</div>
<!-- <a [href]="fileUrl" [download]="cddoc.filename">Download</a> -->
<p-footer>
          <a type="button" [hidden] ="cddoc.pic==null" pButton icon="pi pi-download" [href]="fileUrl" [download]="cddoc.filename"  label="Download"></a>
          <button type="button" pButton icon="pi pi-close" (click)="uploadDocument()" label="Update" class="ui-button-warning"></button>
      </p-footer>
</p-dialog>

<!-- Skill -->
<p-dialog header="Skill" [(visible)]="skill" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <div class="form-group">
    <label>Skill Name</label>
    <input type="text" class="form-control" name="sks" [(ngModel)]="newSkill.skillname"  placeholder="Skill Name">
  </div>
 
  <div class="form-group">
    <p-dropdown [options]="level" optionLabel="level" name="lvzsd" [(ngModel)]="newSkill.level"  placeholder ="Skill Level"></p-dropdown>
  </div>

      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="addSkill()" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>

<!-- Update Skill -->
<p-dialog header="Update Skill" [(visible)]="updateskill" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <p-toast [style]="{marginTop: '80px'}"  key="tc"></p-toast>
  <div class="form-group">
    <label>Skill Name</label>
    <input type="text" class="form-control" name="skull" [(ngModel)]="cdSkill.skillname" placeholder="Skill Name">
  </div>
 <div class="form-group">
    <p-dropdown [options]="level" optionLabel="level" name="lvs" [(ngModel)]="cdSkill.level"  placeholder ="Skill Level"></p-dropdown>
  </div>
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="putSkill(cdSkill.id)" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>