<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img #img src="assets/logolarge.png"> &nbsp;
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar"> &nbsp;
        <ul class="navbar-nav mr-auto my-lg-1">
            <li class="nav-item ">
                <a class="nav-link" href="candidate/dashboard">Dashboard </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="candidate/profile">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Setting</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto my-lg-1">
            <li class="nav-item">
                <a class="nav-link" (click)="destroySession()">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>

  <!-- Body -->
  <div class="ui-g">
    <div class="ui-g-2 ui-md-12 ui-lg-2">
    </div>

    <!--  -->
    <div class="ui-g-8 ui-g-nopad">
        <br>

        <!--  -->
        <div class="ui-g-12 ui-md-12 ui-lg-4">

          <!-- Photo -->
          <div class="card">
              <div class=" card-body" style="text-align:center;">
                <img style="width: 170px; height: 225px;" src="assets/img/team/1.jpg" alt="Card image">
              </div>  
          </div>
          <br>

          <!-- Profile -->
          <div class="card border-light">
            <div class="ui-g card-header">
              <div class="ui-g-6 ui-md-6 ">
                <h5 class="pi pi-user">
                  Profile
                </h5>
              </div>
              <div class="ui-g-2 ui-md-2 ui-md-offset-2">
                <button type="button" class="btn btn-outline-warning btn-sm" (click)="showProfile()">Update</button>
              </div>
            </div>

              <div class="card-body">
                <p class="card-text">Birth {{user?.candidate?.dob}}</p>
                <p class="card-text">Gender {{user?.candidate?.gender}}</p>
                <p class="card-text">{{user?.candidate?.addres}}, {{user?.candidate?.city?.city}}</p>
              </div>

              <div class="card-footer">
                <p class="card-text">{{user?.candidate?.phone}}</p>
                <p class="card-text">{{user?.candidate?.email}}</p>
              </div>

          </div>

        </div>

        <!-- Name User -->
        <div class="ui-g-12 ui-md-12 ui-lg-8">
            <br>
            <h1 class="display-3" style="text-align:center;">{{user?.candidate?.name}}</h1>
            <br>

            <!-- Education -->
            <div class="card border-light">
                <div class="ui-g card-header">
                  <div class="ui-g-12 ui-md-4 ">
                    <h5 class="pi pi-user">
                      Education
                    </h5>
                  </div>
                  <div class="ui-g-12 ui-md-2 ui-md-offset-6">
                    <button type="button" class="btn btn-outline-warning btn-sm" (click)="showEducation()">Update</button>
                  </div>
                </div>

                <div class="card-body">
                  <p class="card-text">SMA 79 Jakarta Selatan</p>
                  <p class="card-text">S1 Bina Nusantara Teknik Informatika</p>
                </div>
            </div>
            <br>

            <!-- Work Experince -->
            <div class="card border-light">
              <div class="ui-g card-header">
                <div class="ui-g-12 ui-md-5 ">
                  <h5 class="pi pi-user">
                    Work Experience
                  </h5>
                </div>
                <div class="ui-g-12 ui-md-2 ui-md-offset-5">
                  <button type="button" class="btn btn-outline-warning btn-sm" (click)="showWork()">Update</button>
                </div>
              </div>

              <div class="card-body">
                <h4 class="card-title">Update Your Work Experience</h4>
              </div>
            </div>
            <br>

            <!-- Document -->
            <div class="card border-light">
              <div class="ui-g card-header">
                <div class="ui-g-12 ui-md-4 ">
                  <h5 class="pi pi-user">
                    Document
                  </h5>
                </div>
                <div class="ui-g-12 ui-md-2 ui-md-offset-6">
                  <button type="button" class="btn btn-outline-warning btn-sm" (click)="showProfile()">Update</button>
                </div>
              </div>

              <div class="card-body">
                <h4 class="card-title">Update Your Document</h4>
              </div>
            </div>
          <br>

        </div>

        <!--  -->
        <div class="ui-g-12">
        </div>

    </div>
    <!--  -->

    <div class="ui-g-2">
    </div>

  </div>


<!-- Show Dialog -->
<!-- Password -->
<p-dialog header="Change Password" [(visible)]="settings" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <div class="form-group">
    <label>Old Password </label>
    <input type="password" class="form-control"  placeholder="Old Password">
  </div>
  <div class="form-group">
    <label>New Password </label>
    <input type="password" class="form-control"  placeholder="New Password">
  </div>
  <div class="form-group">
    <label>Confrim New Password </label>
    <input type="password" class="form-control"  placeholder="Confrm New Password">
  </div>
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>

<!-- Profile -->

<!-- Profile -->
<p-dialog header="Profile" [(visible)]="profile" [modal]="true" [responsive]="true" [style]="{width: '900px', minWidth: '200px'}" [minY]="70">
  <div class="ui-g">
    <div class="ui-g-6">
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" placeholder="Full Name">
          </div>

          <div class="form-group">
            <label for="exampleSelect2">Gender</label>
            <select class="form-control" id="exampleSelect1">
              <option>Woman</option>
              <option>Man</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleTextarea">Address</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          
    </div>
    <!--  -->
    <div class="ui-g-6">

        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Email">
        </div>

        <div class="form-group">
          <label>Telephone</label>
          <input type="text" class="form-control" placeholder="Telephone">
      </div>

          <div class="form-group">
            <label>Date of Birth</label>
            <input type="date" class="form-control">
          </div>

          <div class="form-group">
            <label for="exampleInputFile">Upload Photo</label>
            <input type="file" class="form-control-file" name="foto" [(ngModel)]="us" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Photo yang diharapkan adalah foto yang bagus dan enak diliat</small>
          </div>

    </div>
</div>

    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="uploadPhoto()" label="Submit"></button>
        <button type="reset" pButton icon="pi pi-close" (click)="display=false" label="Reset" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<!-- Work Experience -->
<p-dialog header="Change Password" [(visible)]="work" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <div class="form-group">
    <label>Work Experience </label>
    <input type="password" class="form-control"  placeholder="Old Password">
  </div>
  <div class="form-group">
    <label>New Password </label>
    <input type="password" class="form-control"  placeholder="New Password">
  </div>
  <div class="form-group">
    <label>Confrim New Password </label>
    <input type="password" class="form-control"  placeholder="Confrm New Password">
  </div>
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>

<!-- Document -->
<p-dialog header="Change Password" [(visible)]="document" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
 
 

  <div class="form-group">
    <label>Document </label>
    <input type="password" class="form-control"  placeholder="Old Password">
  </div>
  <div class="form-group">
    <label>New Password </label>
    <input type="password" class="form-control"  placeholder="New Password">
  </div>
  <div class="form-group">
    <label>Confrim New Password </label>
    <input type="password" class="form-control"  placeholder="Confrm New Password">
  </div>

      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>