<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img #img src="assets/logolarge.png"> &nbsp;
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar"> &nbsp;
        <ul class="navbar-nav ml-auto my-lg-1">
          <li class="nav-item">
              <a class="nav-link" (click)="destroySession()" >Sign Out</a>
          </li>
      </ul>
  </div>
</nav>

<!-- Sidebar -->
<div class="d-flex" id="wrapper">
<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Hello, {{candidate?.name}}</div>
  <div class="list-group list-group-flush">
  <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
  <a href="/admin/joblist" class="list-group-item list-group-item-action bg-primary active">Job</a>
  <a href="/admin/invited" class="list-group-item list-group-item-action bg-light">Interview Candidate</a>
  <a href="/admin/approved" class="list-group-item list-group-item-action bg-light">Approved Candidate</a>
  </div>
</div>

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid" >
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12">
        <p-tabView>
          <!-- List Application -->
          <p-tabPanel header="List Application" leftIcon="pi pi-calendar">
            <br><h2 style="text-align:center; margin-bottom:12px;">List Application</h2><br>
            <button type="button" class="btn btn-outline-primary" style="margin-bottom: 8px;" (click)="showAddJob()">Add Application</button>
            <div class="table-responsive">
            <table class="table table-hover" style="text-align:center">
                <thead >
                  <tr>
                    <th scope="col">Application Name</th>
                    <th scope="col">Application Category</th>
                    <th scope="col">Application Position</th>
                    <th scope="col">Recruiter Name</th>
                    <th scope="col">Date Begin</th>
                    <th scope="col">Date End</th>
                    <th scope="col">Status</th>
                    <th scope="col">Total Applied</th>
                    <th scope="col" style="text-align: center; align-items: center;" colspan="2">Action</th>
    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of jq | paginate: { itemsPerPage: 3, currentPage: pt , id: 'post'}">
                    <td>{{item[1]?.title}}</td>
                    <td>{{item[1]?.jobposotion?.jobkategori?.kategori}}</td>
                    <td>{{item[1]?.jobposotion?.name}}</td>
                    <td>{{item[1]?.candidate?.name}}</td>
                    <td>{{item[1]?.start | date:'dd-MMMM-yyyy'}}</td>
                    <td>{{item[1]?.end | date:'dd-MMMM-yyyy'}}</td>
                    <td>
                      <div *ngIf="item[1].active == true; else notShow ">
                        
                      </div>
                      <ng-template #notShow>
                        <p style="color: red;">Closed</p> 
                      </ng-template>
                      
                    </td>
                    <td>{{item[0]}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm"  (click)="showDetailJob(item[1].id)">Detail</button>
                     </td>
                     <td>
                        <button type="button" class="btn btn-outline-warning btn-sm"  (click)="showUpdateJob(item[1].id)">Update</button>
                    </td>
                  </tr>
                </tbody>
            </table> 
          </div>
            <pagination-controls (pageChange)="pt = $event" id = "post"></pagination-controls>

          </p-tabPanel>
          <!-- Job Position -->
          <p-tabPanel header="Job Position" leftIcon="pi pi-inbox">
            <p-messages [value]="mgsDeletePos" (click)="back()"></p-messages>

              <br><h2 style="text-align:center; margin-bottom:12px;">Job Position</h2><br>
              <button type="button" class="btn btn-outline-primary" style="margin-bottom: 8px;" (click)="showAddPosition()">Add Position</button><br>
              <p-toast [style]="{marginTop: '80px'}"  key="deletePosition"></p-toast>

              <table class="table table-hover" style="text-align:center">
                <thead >
                  <tr>
                    <th scope="col">Position Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
      
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of jobPosList | paginate: { itemsPerPage: 1, currentPage: jp , id: 'pos'}">
                    <td>{{item?.name}}</td>
                    <td>{{item?.jobkategori?.kategori}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-warning btn-sm"  (click)="showUpdatePosition(item.id)">Update</button> &nbsp;
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmDeletePosition(item.id)" >Delete</button> 
                      </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="jp = $event" id = "pos"></pagination-controls>
          </p-tabPanel>
          <!-- Job Category -->
          <p-tabPanel header="Job Category" leftIcon="pi pi-user">
            <p-toast [style]="{marginTop: '80px'}"  key="deleteKategori"></p-toast>

            <p-messages [value]="mgsDeleteKate" (click)="back()"></p-messages>
              <br><h2 style="text-align:center; margin-bottom:12px;">Job Category</h2><br>
              <button type="button" class="btn btn-outline-primary" style="margin-bottom: 8px;" (click)="showAddCategory()">Add Category</button><br>
              

              <table class="table table-hover" style="text-align:center">
                <thead >
                  <tr>
                    <th scope="col">Category Name</th>
                    <th scope="col">Category Code</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of jobkateList | paginate: { itemsPerPage: 1, currentPage: jk , id: 'kate'}">
                    <td>{{item?.kategori}}</td>
                    <td>{{item.code}}</td>
                    <td>
                      <button type="button" class="btn btn-outline-warning btn-sm"  (click)="showUpdateCategory(item.id)">Update</button> &nbsp;
                      <button type="button" class="btn btn-outline-danger btn-sm" (click)=" confirmDeleteKategori(item.id)" >Delete</button> 
                  </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="jk = $event" id = "kate"></pagination-controls>
          </p-tabPanel>
      </p-tabView>

      </div>
    </div>
  </div>
</div>

</div>

<!-- Show Dialog List Application-->
<div>
<!-- Add -->
<p-dialog header="Add Application" [(visible)]="addjob" [modal]="true" [responsive]="true" 
[style]="{width: '75vw'}" [draggable]="true" [resizable]="true">
<p-messages [value]="mgsPostJob" (click)="back()"></p-messages>
<p-toast [style]="{marginTop: '80px'}"  key="postingJob"></p-toast>


<div class="ui-g">

  <!-- Tengah -->

  <div class="ui-g-12 ui-md-12 ui-lg-3">
    <h6 class="first">Job Application</h6>
    <input id="input" type="text" size="20" pInputText  [(ngModel)]="posting.title" placeholder="Job Application"> 
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Date Begin</h6>
    <p-calendar [(ngModel)]="posting.start"></p-calendar>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Date End</h6>
    <p-calendar [(ngModel)]="posting.end" ></p-calendar>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-1">
    <h6 class="first">Salary</h6>
    <input type="text" pInputText size="10" pKeyFilter="money" [(ngModel)]="posting.salary" placeholder="Salary">
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-1">
    <h6 class="first">Quota</h6>
    <input type="text" pInputText size="5" pKeyFilter="int" [(ngModel)]="posting.saldo" placeholder="Quota">
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Application Category</h6>
    <p-dropdown [options]="jobkateList" name="kate" size="40" (click)="posNull()" [(ngModel)]="kate" filter="true" optionLabel="kategori" placeholder="Choose Category" ></p-dropdown>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Application Position</h6>
    <p-dropdown [options]="getPosKa" name="hos"  size="40" [(ngModel)]="posting.jobposotion" (click)="getPos1()" filter="true" optionLabel="name" placeholder="Choose Position" ></p-dropdown>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Province</h6>
      <p-dropdown [placeholder]="ps" [options]="province" name="provinsi" [(ngModel)]="provinsi" (click)="proNull()" (change)="getCity()" filter="true" optionLabel ="province" [showClear]="true"> 
      </p-dropdown>
  </div>
  
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">City</h6>
      <p-dropdown placeholder="Select a City" [options]="city" name="city" [(ngModel)]="posting.city"  filter="true" optionLabel ="city" (click)="getCity()">
      </p-dropdown>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h6 class="first">Address</h6>
      <textarea rows="4" cols="60" name="address" [(ngModel)]="posting.addres" pInputTextarea autoResize="autoResize"></textarea>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h6 class="first">Job Description</h6>
      <textarea rows="4" cols="60" name="jobdesc" [(ngModel)]="posting.desc" pInputTextarea autoResize="autoResize"></textarea>
    </div>
  </div>

  <!-- Kiri -->
  <div class="ui-g-6">


    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <h6 class="first">Job Task</h6>
      <button pButton type="button" icon="pi pi-plus" title="Add Column" (click)="addColumn()" [disabled]="columns.length === 20" style="margin-right: .5em"></button>   
      <button pButton type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumn()"[disabled]="columns.length === 0"></button>
      <p-scrollPanel [style]="{width: '100%', height: '100px'}">
        <div style="padding:1em;line-height:1.5">
          <div  style="margin-top: .5em">
            <div *ngFor="let col of columns; let i=index" [@animation]="'visible'">
              <div class="box">
                <table>
                  <td>
                    <input class="form-control" name="item" [(ngModel)]="item[i]" size="40" type="text" placeholder="Job Task">
                  </td> &nbsp;
                </table>
              </div>
            </div>
          </div>    
        </div>
    </p-scrollPanel>
    </div>

  </div>

  <!-- Kanan  -->
  <div class="ui-g-6">
       


    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <h6 class="first">Job Requirment</h6>
      <button pButton type="button" icon="pi pi-plus" title="Add Column" (click)="addColumnDes()" [disabled]="columndescription.length === 20" style="margin-right: .5em"></button>          
      <button pButton type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumnDes()" [disabled]="columndescription.length === 0"></button>       
       <p-scrollPanel [style]="{width: '100%', height: '100px'}">
        <div style="padding:1em;line-height:1.5">
          <div style="margin-top: .5em">
            <div  *ngFor="let col of columndescription; let i=index" [@animation]="'visible'">              
              <div class="box">
                <table>
                  <td>
                    <input class="form-control" name="req" [(ngModel)]="req[i]" type="text"  size="40" placeholder="Job Requirment">
                  </td>  &nbsp;
                </table>
              </div>
            </div>
          </div>    
        </div>
    </p-scrollPanel>
    </div>


  </div>

  <!-- Tengah -->


</div>

<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="postingJob()" label="Submit"></button>
    <button type="reset" pButton icon="pi pi-times" (click)="addjob=false" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>

<!-- Update -->
<p-dialog header="Update Application" [(visible)]="updatejob" [modal]="true" [responsive]="true" 
[style]="{width: '75vw', height: '100'}" [draggable]="true" [resizable]="false">
<p-toast [style]="{marginTop: '80px'}"  key="postingJobEdit"></p-toast>
<p-messages [value]="mgsPostJob" (click)="back()"></p-messages>


<div class="ui-g">

  <!-- Tengah -->

  <div class="ui-g-12 ui-md-12 ui-lg-3">
    <h6 class="first">Job Application</h6>
    <input id="input" type="text" size="20" pInputText  [(ngModel)]="jd.title" placeholder="Job Application"> 
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Date Begin</h6>
    <input type="date" [(ngModel)]="jd.start">
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Date End</h6>
    <input type="date" [(ngModel)]="jd.end" >
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-1">
    <h6 class="first">Salary</h6>
    <input type="text" pInputText size="10" pKeyFilter="money" [(ngModel)]="jd.salary" placeholder="Salary">
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-1">
    <h6 class="first">Quota</h6>
    <input type="text" pInputText size="5" pKeyFilter="int" [(ngModel)]="jd.saldo" placeholder="Quota">
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Application Category</h6>
    <p-dropdown [options]="jobkateList" name="kate" size="40" (click)="posNull()" [(ngModel)]="kate" filter="true" optionLabel="kategori" placeholder="Choose Category" ></p-dropdown>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Application Position</h6>
    <p-dropdown [options]="getPosKa" name="hos"  size="40" [(ngModel)]="jd.jobposotion" (click)="getPos1()" filter="true" optionLabel="name" placeholder="Choose Position" ></p-dropdown>
  </div>

  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">Province</h6>
      <p-dropdown [placeholder]="ps" [options]="province" name="provinsi" [(ngModel)]="provinsi" (click)="proNull()" (change)="getCity()" filter="true" optionLabel ="province" [showClear]="true"> 
      </p-dropdown>
  </div>
  
  <div class="ui-g-12 ui-md-6 ui-lg-3">
    <h6 class="first">City</h6>
      <p-dropdown placeholder="Select a City" [options]="city" name="city" [(ngModel)]="jd.city"  filter="true" optionLabel ="city" (click)="getCity()">
      </p-dropdown>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h6 class="first">Address</h6>
      <textarea rows="4" cols="60" name="addres" [(ngModel)]="jd.addres" pInputTextarea autoResize="autoResize"></textarea>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
      <h6 class="first">Job Description</h6>
      <textarea rows="4" cols="60" name="jobdesc" [(ngModel)]="jd.desc" pInputTextarea autoResize="autoResize"></textarea>
    </div>
  </div>  

  <!-- Kiri -->
  <div class="ui-g-6">


    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <h6 class="first">Job Task</h6>
      <button pButton type="button" icon="pi pi-plus" title="Add Column" (click)="addColumn()" [disabled]="columns.length === 20" style="margin-right: .5em"></button>   
      <button pButton type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumn()"[disabled]="columns.length === 0"></button>
      <!-- Isi Update Job Task -->
      <p-scrollPanel [style]="{width: '100%', height: '100px'}">
        <div style="padding:1em;line-height:1.5">
          <div  style="margin-top: .5em">
            <div *ngFor="let col of columns; let i=index" [@animation]="'visible'">
              <div class="box">
                <table>
                  <td>
                    <input class="form-control" name="item" [(ngModel)]="item[i]" size="40" type="text" placeholder="Job Task">
                  </td> &nbsp;
                </table>
              </div>
            </div>
          </div>    
        </div>
    </p-scrollPanel>
    </div>

  </div>

  <!-- Kanan  -->
  <div class="ui-g-6">
       


    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <h6 class="first">Job Requirment</h6>
      <button pButton type="button" icon="pi pi-plus" title="Add Column" (click)="addColumnDes()" [disabled]="columndescription.length === 20" style="margin-right: .5em"></button>          
      <button pButton type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumnDes()" [disabled]="columndescription.length === 0"></button>       
      <!-- Isi Update Job Requirment -->
      <p-scrollPanel [style]="{width: '100%', height: '100px'}">
        <div style="padding:1em;line-height:1.5">
          <div style="margin-top: .5em">
            <div  *ngFor="let col of columndescription; let i=index" [@animation]="'visible'">              
              <div class="box">
                <table>
                  <td>
                    <input class="form-control" name="req" [(ngModel)]="req[i]" type="text"  size="40" placeholder="Job Requirment">
                  </td>  &nbsp;
                </table>
              </div>
            </div>
          </div>    
        </div>
    </p-scrollPanel>
    </div>


  </div>


</div>

<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="postingJobEdit()" label="Submit"></button>
    <button type="button" pButton icon="pi pi-times" label="Close Application" (click)="closed()" class="ui-button-danger"></button>
</p-footer>
</p-dialog>

<!-- Detail -->
<p-dialog header="Detail Application" [(visible)]="detailjob" [modal]="true" [responsive]="true" 
[style]="{width: '80vw', height: '40vw'}" [draggable]="false" [resizable]="false">
<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-4">
      Total Applier : {{totalapp}}
    </div>
    <table class="table table-hover" style="text-align:center">
      <thead >
        <tr>
          <th scope="col">Name Applier</th>
          <th scope="col">Apply Date</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of apps">
          <td>{{item?.candidate?.name}}</td>
          <td>{{item?.appDate | date:'dd-MMMM-yyyy' }}</td>
          <td>
              <button type="button" class="btn btn-outline-primary btn-sm" (click)="showDetailCandidate(item.id)">Detail</button>
          </td>
          <td>{{item?.state?.state}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</p-dialog>

<!-- Detail Candidate -->
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog header="Detail Candidate" [(visible)]="detailcandidate" [modal]="true" [responsive]="true" 
[style]="{width: '90vw', height: '80vw'}" [draggable]="true" [resizable]="true">
<p-messages [value]="msgs"></p-messages>

<!-- Body -->
<div class="ui-g">
<!-- Photo -->
<div class="ui-g-4">
  <div class="card">
      <div class=" card-body" style="text-align:center;">
        <img style="width: 170px; height: 240px;" [src]="imgs"  alt="Card image">
      </div>  
  </div>

  <!-- Profile -->
  <div class="card border-light">
    <div class="ui-g card-header">
      <div class="ui-g-6 ui-md-6 ">
        <h5 class="pi pi-user">
          Profile
        </h5>
      </div>
    </div>

      <div class="card-body">
        <p class="card-text">Birth {{cdjob1?.candidate?.dob}}</p>
        <p class="card-text">Gender {{cdjob1?.candidate?.gender}}</p>
        <p class="card-text">{{cdjob1?.candidate?.addres}}, {{user?.candidate?.city?.city}}</p>
      </div>

      <div class="card-footer">
        <p class="card-text">{{cdjob1?.candidate?.phone}}</p>
        <p class="card-text">{{cdjob1?.candidate?.email}}</p>
      </div>

  </div>
</div>

<!-- Isi -->
<div class="ui-g-8 ui-g-nopad">
  <!-- Nama Lengkap -->
  <div class="ui-g-12">
    <h1 class="display-3" style="text-align:center;">{{cdjob1?.candidate?.name}}</h1>
  </div>
  <!-- Kiri -->
  <div class="ui-g-6">
    <!-- Education -->
    <div class="card border-light">
      <div class="ui-g card-header">
        <div class="ui-g-12 ui-md-4 ">
          <h5 class="pi pi-user">
            Education
          </h5>
        </div>
      </div>
      <div  class="card-body">
        <li *ngFor="let item of edu">{{item.name}}, {{item?.gpa}}, {{item?.education.education}}</li>
      </div>
  </div>
  <br>

  <!-- Work Experince -->
  <div class="card border-light">
    <div class="ui-g card-header">
      <div class="ui-g-12 ui-md-6 ">
        <h5 class="pi pi-user">
          Work Experience
        </h5>
      </div>
    </div>

    <div class="card-body">
      <li *ngFor="let item of wexp">{{item?.name}}, {{item?.position}}, {{item?.salary}}</li>
    </div>
  </div>
  <br>
  </div>

  <!-- Kanan -->
  <div class="ui-g-6">
    <!-- Document -->
    <div class="card border-light">
      <div class="ui-g card-header">
        <div class="ui-g-12 ui-md-4 ">
          <h5 class="pi pi-user">
            Document
          </h5>
        </div>
      </div>

      <div>
        <div *ngFor="let item of doc" class="ui-g-12">
        <div class="ui-g-6">{{item?.typename}}</div>
        <div class="ui-g-6">
          <button type="button" (click)=" dowloadDoc(item.id)" class="btn btn-outline-primary btn-sm">Cek</button> &nbsp;

        </div>
          
      </div> 
      </div>
    </div>
    <br>

    <!-- SKill -->
    <div class="card border-light">
      <div class="ui-g card-header">
        <div class="ui-g-12 ui-md-4 ">
          <h5 class="pi pi-user">
          Skill
          </h5>
        </div>
      </div>

      <div class="card-body">
      <li *ngFor="let item of skill">{{item?.skillname}}, {{item?.level?.level}}</li>
      </div>
    </div>
    <br>
  </div>
    
</div>
</div>

<p-footer>
  <button type="button" class="btn btn-outline-success"  [disabled]="st.state ==='ON INVITATION'|| st.state === 'Rejected'" (click)="showInvited()" >Invite</button>
  <button type="button" class="btn btn-outline-danger" [disabled]="st.state ==='Rejected' || st.state ==='ON INVITATION'" (click)="confirmRejected()">Reject</button>
</p-footer>
</p-dialog>

<!-- Invited Candidate -->
<p-dialog header="Invited Candidate" [(visible)]="invited" [modal]="true" [style]="{width: '30vw'}"

    [draggable]="false" [resizable]="false">
    <p-messages [value]="msgsInt" (click)="back()"></p-messages>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <h6>Choose Date Invited</h6>
          <p-calendar [(ngModel)]="intmod.date"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-6">
          <h6>Choose Time Invited</h6>
          <p-calendar [(ngModel)]="waktu"  [timeOnly]="true"></p-calendar>
        </div>
    </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="postInt()" label="Invited"></button>
    <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>


</div>

<!-- Show Dialog Job Category -->
<div>
<!-- Add Category -->
<p-dialog header="Add Application Category" [(visible)]="addcategory" [modal]="true" [responsive]="true" 
[style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
<p-toast [style]="{marginTop: '80px'}"  key="postJobKategori"></p-toast>

<div class="ui-g">
  <!-- Isi -->
    <div class="form-group">
      <label>Category Name</label>
      <input type="text" class="form-control" pInputText name="categoriname" [(ngModel)]="jobKate.kategori" placeholder="Category Name">
    </div>
    <br>
    <div class="form-group">
      <label>Category Code</label>
      <input type="text" class="form-control" pInputText name="categoricode" [(ngModel)]="jobKate.code" placeholder="Category Code">
    </div>
</div>

<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)=" postJobKategori()" label="Submit"></button>
    <button type="reset" pButton icon="pi pi-times" (click)="addcategory=false" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>

<!-- Update Category -->
<p-dialog header="Update Application Category" [(visible)]="updatecategory" [modal]="true" [responsive]="true" 
[style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
<p-toast [style]="{marginTop: '80px'}"  key="putJobKategori"></p-toast>


<div class="ui-g">
<!-- Isi -->
  <div class="form-group">
    <label>Category Name</label>
    <input type="text" name="catename" pInputText [(ngModel)]="jobKateedit.kategori" class="form-control" placeholder="Category Name">
  </div>
  <br>
  <div class="form-group">
    <label>Category Code</label>
    <input type="text" name="catecode" pInputText [(ngModel)]="jobKateedit.code" class="form-control" placeholder="Category Code">
  </div>
</div>

<p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="putJobKategori()" label="Submit"></button>
    <button type="reset" pButton icon="pi pi-times" (click)="updatecategory=false" label="No" class="ui-button-secondary"></button>
</p-footer>
</p-dialog>
</div>

<!-- Show Dialog Job Positon -->
<div>
<!-- Add Position -->
<p-dialog header="Add Job Position" [(visible)]="addposition" [modal]="true" [responsive]="true" 
[style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
<p-toast [style]="{marginTop: '80px'}"  key="posJobPosition"></p-toast>
  <div class="ui-g">
    <!-- Isi -->
      <div class="form-group">
        <label>Postion Name</label>
        <input type="text" name="jbname" pInputText [(ngModel)]="jobPos.name" class="form-control" placeholder="Postion Name">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleSelect1">Category Type</label><br>
        <p-dropdown [options]="jobkateList" name="jbska" [(ngModel)]="jobPos.jobkategori" filter="true" optionLabel="kategori" placeholder="Choose Category" ></p-dropdown>
      </div>

  </div>

  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="posJobPosition()" label="Submit"></button>
      <button type="reset" pButton icon="pi pi-times" (click)="addposition=false" label="No" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<!-- Update Position -->
<p-dialog header="Update Job Position" [(visible)]="updateposition" [modal]="true" [responsive]="true" 
[style]="{width: '20vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
<p-toast [style]="{marginTop: '80px'}"  key="putJobPosition"></p-toast>

  <div class="ui-g">
    <!-- Isi -->
      <div class="form-group">
        <label>Postion Name</label>
        <input type="text" name="etdpos" pInputText [(ngModel)]="jobPos1.name" class="form-control" placeholder="Postion Name">
      </div>
      <br>
      <div class="form-group">
        <label for="exampleSelect1">Category Type</label> <br>
        <p-dropdown [options]="jobkateList" [(ngModel)]="jobPos1.jobkategori" filter="true" optionLabel="kategori" placeholder="Choose Category" ></p-dropdown>
      </div>

  </div>

  <p-footer>
      <button type="button" pButton icon="pi pi-check" label="Submit" (click)="putJobPosition()"></button>
      <button type="reset" pButton icon="pi pi-close" label="No" (click)="updateposition=false" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
</div>