<!-- Password -->
<p-dialog header="Change Password" [(visible)]="settings" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
  <div class="form-group">
    <label>Old Password </label>
    <input type="password" name="old" pPassword [(ngModel)]="password.old" class="form-control"  placeholder="Old Password">
  </div>
  <div class="form-group">
    <label>New Password </label>
    <input type="password" pPassword name="new1" [(ngModel)]="password.newPas1" class="form-control"  placeholder="New Password">
  </div>
  <div class="form-group">
    <label>Confrim New Password </label>
    <input type="password" pPassword name="new2" [(ngModel)]="password.newPas2" class="form-control"  placeholder="Confrm New Password">
  </div>
      <p-footer>
          <button type="button" pButton icon="pi pi-check" (click)="resetPassword()" label="Yes"></button>
          <button type="button" pButton icon="pi pi-close" (click)="settings=false" label="No" class="ui-button-secondary"></button>
      </p-footer>
</p-dialog>


<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img #img src="assets/logolarge.png"> &nbsp;
    <div class="collapse navbar-collapse" id="navbar"> &nbsp;
        <ul class="navbar-nav ml-auto my-lg-1">
          <li class="nav-item">
            <a class="nav-link" (click)="showSettings()" >Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="destroySession()" >Sign Out</a>
          </li>
        </ul>
    </div>
</nav>

<!-- Sidebar -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Hello, {{candidate?.name}}</div>
    <div class="list-group list-group-flush">
    <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-primary active">Dashboard</a>
    <a href="/admin/joblist" class="list-group-item list-group-item-action bg-light">Job List</a>
    <a href="/admin/invited" class="list-group-item list-group-item-action bg-light">Invited Candidate</a>
    <a href="/admin/approved" class="list-group-item list-group-item-action bg-light">Approved Candidate</a>
  </div>
  </div>
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid" >
      <br><h2 style="text-align:center; margin-bottom:12px;">Dashboard</h2><br>
      <div class="ui-g">
        <div class="ui-g-4" style="text-align: center;">
          <h5>Download Report</h5>
            <input type="text" pInputText pKeyFilter="num" [(ngModel)]="year" size="10" placeholder="Year" /> &nbsp;
            <button type="button" (click)="getReport()" pButton label="Download"></button>
        </div>
        <div class="ui-g-4" style="text-align: center;">
          <h5>Download All my Report</h5>
            <button type="button"  (click)="getReportID()" pButton label="Download"></button>
        </div>
        <div class="ui-g-6 ui-g-nopad">
            <div class="ui-g-6"></div>
            <div class="ui-g-6"></div>
            <div class="ui-g-12"></div>
        </div> 
    </div>
    </div>
  </div>
</div>