<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img #img src="assets/logolarge.png"> &nbsp;
      <div class="collapse navbar-collapse" id="navbar"> &nbsp;
          <ul class="navbar-nav ml-auto my-lg-1">
            <li class="nav-item">
              <a class="nav-link" (click)="destroySession()" >Sign Out</a>
            </li>
          </ul>
      </div>
</nav>

<!-- Sidebar -->
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Hello, {{candidate?.name}}</div>
      <div class="list-group list-group-flush">
      <a href="/admin/dashboard" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a href="/admin/joblist" class="list-group-item list-group-item-action bg-light">Job List</a>
      <a href="/admin/invited" class="list-group-item list-group-item-action bg-primary active">Invited Candidate</a>
      <a href="/admin/approved" class="list-group-item list-group-item-action bg-light">Approved Candidate</a>
      </div>
    </div>
    <!-- Page Content -->

  <div id="page-content-wrapper">
    <div class="container-fluid" >
      <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <br><h2 style="text-align:center; margin-bottom:12px;">Candidate Invited to Interview</h2><br>
          <div class="table-responsive">
          <table class="table table-hover" style="text-align:center">
              <thead >
                <tr>
                  <th scope="col">Application Name</th>
                  <th scope="col">Candidate Name</th>
                  <th scope="col">Invited Date</th>
                  <th scope="col">Invited time</th>
                  <th scope="col">Status</th>
                  <th scope="col" colspan="5" style="text-align: center;align-items: center;">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataintat | paginate: { itemsPerPage: 7, currentPage: dt , id: 'int'} ">
                  <td>{{item?.job?.job?.title}}</td>
                  <td>{{item?.job?.candidate?.name}}</td>
                  <td>{{item?.date | date:'dd-MMMM-yyyy'}}</td>
                  <td>{{item?.time}}</td>
                  <td>{{item?.status?.name}}</td>
                  <td>
                    <div *ngIf="item.status?.name ==='Invited' || item.status?.name ==='WILL ATTEND' ;else second ">
                      <button type="button" class="btn btn-outline-info btn-sm" (click)="showDetailCandidate(item.id)">Update</button> &nbsp;
                      <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmReject(item.id)">Reject</button>
                    </div>
                    <ng-template #second>
                      <div *ngIf="item.status?.name ==='Attend'; else third">
                        <button type="button" class="btn btn-outline-info btn-sm" (click)="showDetailCandidate(item.id)">Update</button> &nbsp;
                        <button type="button" class="btn btn-outline-success btn-sm" (click)="confirmHire(item.id)">Invite to Contract</button> &nbsp;
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmReject(item.id)">Reject</button>
                      </div>
                    </ng-template> 
                    <ng-template #third>
                      <div *ngIf="item.status?.name ==='Request New Schedule'; else reject">
                        <button type="button"  class="btn btn-outline-warning btn-sm" (click)="showInvited(item.id)">Reinvite</button> &nbsp;
                        <button type="button" class="btn btn-outline-danger btn-sm" (click)="confirmReject(item.id)">Reject</button>
                      </div>
                    </ng-template>
                        <ng-template #reject>
                      No Action
                    </ng-template>
                    
                    
                  </td>
                </tr>
                </tbody>
          </table>
        </div>
        <pagination-controls (pageChange)="dt = $event" id = "int"></pagination-controls>

</div>
</div>
    </div>
  </div>

</div>

<!-- Detail Candidate -->
<p-dialog header="Detail Candidate" [(visible)]="detailcandidate" [modal]="true" [responsive]="true" 
[style]="{width: '60vw'}" [draggable]="false" [resizable]="false">

<!-- Body -->
<div class="ui-g">
<!-- Photo -->
<div class="ui-g-4">
  <div class="card">
      <div class=" card-body" style="text-align:center;">
        <img style="width: 170px; height: 225px;" [src]="imgs"  alt="Card image">
      </div>  
  </div>

  <!-- Profile
  <div class="card border-light">
    <div class="ui-g card-header">
      <div class="ui-g-6 ui-md-6 ">
        <h5 class="pi pi-user">
          Profile
        </h5>
      </div>
    </div>

      <div class="card-body">
        <p class="card-text">Birth {{user?.candidate?.dob}}</p>
        <p class="card-text">Gender {{user?.candidate?.gender}}</p>
        <p class="card-text">{{user?.candidate?.addres}}, {{user?.candidate?.city?.city}}</p>
      </div>

      <div class="card-footer">
        <p class="card-text">{{user?.candidate?.phone}}</p>
        <p class="card-text">{{user?.candidate?.email}}</p>
      </div>

  </div> -->
</div>

<!-- Isi -->
<div class="ui-g-8 ui-g-nopad">
  <!-- Nama Lengkap -->
  <div class="ui-g-12">
    <h1 class="display-3" style="text-align:center;">{{int1?.job?.candidate?.name}}</h1>
  </div>

  <!-- Keterangan -->
<div class="ui-g-12">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Applied Application</label>    
    <div class="col-sm-6" >
      <label class="col-sm-6 col-form-label">{{int1?.job?.job?.title}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">interview Date</label>    
    <div class="col-sm-6" >
      <label class="col-sm-6 col-form-label">{{int1?.date | date:'dd-MMMM-yyyy'}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Status</label>    
    <div class="col-sm-6" >
      <label class="col-sm-6 col-form-label">{{int1?.status?.name}}</label>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Result Interview</label>
    <textarea class="form-control" [(ngModel)]="int1.resultInt" id="exampleTextarea" rows="3"></textarea>
  </div>
</div>
    
</div>
</div>

<p-footer>
  <button type="button" class="btn btn-outline-success" (click)="postRes()">Submit</button>
</p-footer>
</p-dialog>



<!-- Invited Candidate -->
<p-dialog header="Reinvited Candidate" [(visible)]="invited" [modal]="true" [style]="{width: '30vw'}"

    [draggable]="false" [resizable]="false">
    <p-messages [value]="msgsInt"></p-messages>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <h6>Choose Date Reinvite</h6>
          <p-calendar [(ngModel)]="d"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-6">
          <h6>Choose Time Reinvite</h6>
          <p-calendar name="asas" [(ngModel)]="waktus" [timeOnly]="true"></p-calendar>
        </div>
    </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="postInt()" label="Invited"></button>
    <button type="button" pButton icon="pi pi-times" (click)="invited=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Contract Candidate" [(visible)]="planner" [modal]="true" [style]="{width: '30vw'}"

    [draggable]="false" [resizable]="false">
    <p-messages [value]="msgsInt"></p-messages>
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <h6>Choose Date </h6>
          <p-calendar name="okss" [(ngModel)]="contract.date"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-6">
          <h6>Choose Time </h6>
          <p-calendar [(ngModel)]="waktu" [timeOnly]="true"></p-calendar>
        </div>
    </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="postHire()" label="Invited"></button>
    <button type="button" pButton icon="pi pi-times" (click)="planner=false" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<!-- Confirm Dialog -->
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog header="Reject" [(visible)]="detailCandidateRej" [modal]="true" [responsive]="true" 
[style]="{width: '60vw'}" [draggable]="true" [resizable]="false">

<!-- Body -->
<div class="ui-g">
<!-- Photo -->
<div class="ui-g-4">
  <div class="card">
      <div class=" card-body" style="text-align:center;">
        <img style="width: 170px; height: 225px;" [src]="imgs"  alt="Card image">
      </div>  
  </div>

  <!-- Profile
  <div class="card border-light">
    <div class="ui-g card-header">
      <div class="ui-g-6 ui-md-6 ">
        <h5 class="pi pi-user">
          Profile
        </h5>
      </div>
    </div>

      <div class="card-body">
        <p class="card-text">Birth {{user?.candidate?.dob}}</p>
        <p class="card-text">Gender {{user?.candidate?.gender}}</p>
        <p class="card-text">{{user?.candidate?.addres}}, {{user?.candidate?.city?.city}}</p>
      </div>

      <div class="card-footer">
        <p class="card-text">{{user?.candidate?.phone}}</p>
        <p class="card-text">{{user?.candidate?.email}}</p>
      </div>

  </div> -->
</div>

<!-- Isi -->
<div class="ui-g-8 ui-g-nopad">
  <!-- Nama Lengkap -->
  <div class="ui-g-12">
    <h1 class="display-3" style="text-align:center;">{{int1?.job?.candidate?.name}}</h1>
  </div>

  <!-- Keterangan -->
<div class="ui-g-12">
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Applied Application</label>    
    <div class="col-sm-6" >
      <label class="col-sm-6 col-form-label">{{int1?.job?.job?.title}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">interview Date</label>    
    <div class="col-sm-6" >
      <label class="col-sm-6 col-form-label">{{int1?.date}}</label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label">Status</label>    
    <div class="col-sm-6" >
      <label class="col-sm-6 col-form-label">{{int1?.status?.name}}</label>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleTextarea">Result Interview</label>
    <textarea class="form-control" [(ngModel)]="int1.resultInt" id="exampleTextarea" rows="3"></textarea>
  </div>
</div>
    
</div>
</div>

<p-footer>
  <button type="button" class="btn btn-outline-success" (click)="submitReject()">Submit</button>
</p-footer>
</p-dialog>