  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <img #img src="assets/logolarge.png"> &nbsp;
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar"> &nbsp;
          <ul class="navbar-nav mr-auto my-lg-1">
              <li class="nav-item active">
                  <a class="nav-link" href="candidate/dashboard">Dashboard <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="candidate/profile">Profile</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto my-lg-1">
              <li class="nav-item">
                  <a class="nav-link" (click)="destroySession()">Sign Out</a>
              </li>
          </ul>
      </div>
  </nav>

  <p-dialog header="Change Password" [(visible)]="settings" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70">
    <div class="form-group">
      <label>Old Password </label>
      <input type="password" class="form-control"  placeholder="Old Password">
    </div>
    <div class="form-group">
      <label>New Password </label>
      <input type="password" class="form-control"  placeholder="New Password">
    </div>
    <div class="form-group">
      <label>Confrim New Password </label>
      <input type="password" class="form-control"  placeholder="Confrm New Password">
    </div>
        <p-footer>
            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
            <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No" class="ui-button-secondary"></button>
        </p-footer>
  </p-dialog>

  <!-- Body -->
  <div>

    <!-- Profile -->
    <div class="ui-g-12 ui-md-6 ui-lg-2"><br>
      <div class="card" style="margin-top:40pt;">
          <div class="card-body" style="text-align:center;">
            <img [src]='imageData' width="170px" height="240px" alt="Card image">
            <h4 class="card-title">{{candidate?.name}}</h4>
            <div class="card">
            <h6 class="card-subtitle text-muted">Expected Salary</h6>
            <br>
            <h5 class="card-subtitle text-muted" style="font-style: italic; text-align: center;">{{candidate?.salary | currency:'Rp. '}}</h5>  
          </div>
            <br>
          </div>  
      </div>
    </div>

    <!--  -->
    <div class="ui-g-12 ui-md-12 ui-lg-8 ui-g-nopad">

      <!-- Interview Date --> <br>
      <div class="ui-g-12 ui-md-12 ui-lg-6">
          <h5 style="text-align:center;">Interview Date</h5><br>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Application Name</th>
                  <th scope="col">Interview Date</th>
                  <th scope="col">Hour</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of intApp">
                  <td>{{item?.job?.job?.title}}</td>
                  <td>{{item?.date | date:'dd-MMMM-yyyy'}}</td>
                  <td>{{item?.time}}</td>
                </tr>
                </tbody>
          </table>
      </div>

      <!-- Check Application Status -->
      <div class="ui-g-12 ui-md-12 ui-lg-6">
          <h5 style="text-align:center;">Check Status Application</h5><br>
          <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Application Name</th>
                  <th scope="col">Applied Date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cdApp">
                  <td>{{item?.job?.title}}</td>
                  <td>{{item?.appDate | date:'dd-MMMM-yyyy'}}</td>
                  <td>{{item?.state?.state}}</td>
                </tr>
              </tbody>
          </table>
      </div>

      <!-- Job Poster -->
      <p-messages [value]="msgs" (click)="backDash()"></p-messages>
      <br><br><br><br><br>
      <div class="ui-g-12 ui-md-12 ui-lg-12">
          <h3 style="text-align:center;">Lawencon Jobs Poster</h3><br>

          <!-- Search Job Poster -->
          <ol class="breadcrumb" style="text-align:center;">
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <input type="text" pInputText pKeyFilter="alpha" [(ngModel)]="filter.title" placeholder="Search Jobs Poster">
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <input type="text" pInputText pKeyFilter="money" [(ngModel)]="filter.minSalary" placeholder="Salary Min">
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <input type="text" pInputText pKeyFilter="money" [(ngModel)]="filter.maxSalary" placeholder="Salary Max">
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown [options]="city" [(ngModel)]="citys" placeholder="Select a City" filter="true" optionLabel ="city" (click)="getCity()" [disabled]="provinsi.id == null"></p-dropdown>
                  <!-- <p-dropdown [placeholder]="ps" [options]="province" name="provinsi" [(ngModel)]="provinsi" (click)="proNull()" (change)="getCity()" filter="true" optionLabel ="province"> 
                  </p-dropdown> -->
              </div>  
              <div class="ui-g-12 ui-md-6 ui-lg-4">
                <p-dropdown [options]="province" [(ngModel)]="provinsi" (click)="proNull()" [placeholder]="ps" filter="true" optionLabel ="province"></p-dropdown>
                  <!-- <p-dropdown placeholder="Select a City" [options]="city" name="city" [(ngModel)]="posting.city"  filter="true" optionLabel ="city" (click)="getCity()">
                  </p-dropdown> -->
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-4" >
                <button pButton type="button" label="Primary" style="
                padding-right: 60px;
                padding-left: 60px;
            "(click)="findByfilter()" ></button>
              </div>
            </div>
          </ol>

          <p-scrollPanel [style]="{width: '100%', height: '420px'}">
          <!-- Isi Job Poster -->
           
            
              <div class="card border-light" style="width: 100%;" *ngFor="let item of jobs">
                <div class="card-header"><h5>{{item.title}} <p style="text-align-last:right;font:italic;"><small>{{item.salary | currency:'Rp. '}}/month</small></p></h5></div>
                <div class="card-body">
                  <p class="card-title">
                    {{item.desc}}
                    <br>
                  <p class="card-text">
                    Open Date : {{item.start}} &nbsp; Close Date : {{item.end}}
                  </p><br>
                  <p>Recruiter : {{item.candidate.name}}</p>
                  <br>
                  
                    <div>
                      <button type="button" class="btn btn-outline-info" (click)="showDetail(item.id)">Detail</button> &nbsp;
                    </div>
                </div>
                <div class="card-footer">  
                </div>
              </div> <br>
         
         
          
          </p-scrollPanel>
      </div>

    </div>

    <!-- Blank Page (Right) -->
    <div class="ui-g-12 ui-md-6 ui-lg-2"><br>
    </div>

  </div>

  <!-- Detail Job Poster -->
  <p-dialog header="Change Password" [(visible)]="detail" [modal]="true" [responsive]="true" [style]="{width: '900px', minWidth: '200px'}" [minY]="70">
    <p-toast [style]="{marginTop: '80px'}" position="top-center"  key="tc"></p-toast>
    <div class="ui-g">
          <!--  -->
          <div class="ui-g-12 ui-md-6 ui-lg-12">
            <div class="card border-secondary">
              <div class="card-header">
                <h4>{{jobs1.title}}</h4>
                <div style="text-align-last:right ;">{{jobs1.salary | currency:'Rp. '}}/month</div>
              </div>
              <div class="card-body">
                <p class="card-text">{{jobs1.desc}}</p>
              </div>
            </div>
          </div>
          <div class="ui-g-4 ui-md-6 ui-lg-6">
            <div class="card border-secondary">
              <div class="card-header">Recruitments</div>
              <div class="card-body">
                <li *ngFor="let item of req" class="card-text">{{item.recruitment}}</li>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="ui-g-4 ui-md-6 ui-lg-6">
            <div class="card border-secondary">
              <div class="card-header">Job Task</div>
              <div class="card-body">
                <li *ngFor="let item of det" class="card-text">{{item.description}}</li>
              </div>
            </div>
          </div>
      </div>
      <p-footer>
        <button type="button" (click)="postApply()" class="btn btn-outline-success">Apply</button>
      </p-footer>
  </p-dialog>